<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "Accomplished";
}
<div class="finish_container">
    <h1>Accomplished</h1>
    <p> <h2> Your order has been confirmed, please check your emailbox</h2></p>
    
   

    @Html.ActionLink("Home", "List", "Materials", null, new { @class = "btn btn-primary" })

</div>